# OpenTitan devices

config OT_ALERT
    bool

config OT_AST
    bool

config OT_CSRNG
    bool

config OT_EDN
    bool

config OT_ENTROPY_SRC
    bool

config OT_LIFECYCLE
    bool

config OT_OTP
    bool

config OT_PWRMGR
    bool
